@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Bellefair:regular);
@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,regular);
@import url(https://fonts.googleapis.com/css?family=Barlow:regular,500);

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
@supports not (backdrop-filter: blur(80px)) {
  header ul {
    background-color: rgb(82, 82, 82) !important;
  }
}